In [1]:
import numpy as np
import pandas as pd

In [2]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C486-D054

 C:\Users\student\bigdata 디렉터리

2019-03-13  오후 03:44    <DIR>          .
2019-03-13  오후 03:44    <DIR>          ..
2019-03-13  오후 03:42    <DIR>          .ipynb_checkpoints
2019-03-13  오후 03:17    <DIR>          examples
2019-03-11  오후 03:02    <DIR>          ins
2019-03-12  오후 02:48            20,392 numpy실습1.ipynb
2019-03-12  오후 03:57            12,906 numpy실습2.ipynb
2019-03-12  오후 05:15            16,961 pandas실습1.ipynb
2019-03-13  오전 10:54            75,260 pandas실습2.ipynb
2019-03-13  오전 11:45            58,479 pandas실습3.ipynb
2019-03-13  오후 02:46            61,101 pandas실습4.ipynb
2019-03-12  오전 11:33    <DIR>          test1
2019-03-13  오후 02:55             9,073 누적합_누적곱.ipynb
2019-03-13  오후 03:44             2,316 데이터입출력.ipynb
2019-03-12  오전 10:48            81,793 모듈테스트.ipynb
2019-03-12  오후 02:19             5,439 입출력실습.ipynb
2019-03-11  오후 04:28            24,947 파이썬실습1.ipynb
2019-03-11  오후 05:18            12,576 함수실습.ipynb
              12개 파일             381,243 바이트
               6개 디렉터리  417,953,013,760 바이트 남음

In [3]:
%cd examples/

C:\Users\student\bigdata\examples

In [4]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: C486-D054

 C:\Users\student\bigdata\examples 디렉터리

2019-03-13  오후 03:17    <DIR>          .
2019-03-13  오후 03:17    <DIR>          ..
2017-11-26  오후 01:17                58 ex1.csv
2017-11-26  오후 01:17                42 ex2.csv
2017-11-26  오후 01:17               170 ex3.txt
               3개 파일                 270 바이트
               2개 디렉터리  417,952,944,128 바이트 남음

In [5]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
%cd ../

C:\Users\student\bigdata

In [7]:
%pwd

'C:\\Users\\student\\bigdata'

In [9]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [10]:
pd.read_csv?

In [11]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [17]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
f = open('examples/ex3.txt','r', encoding='utf-8')

In [19]:
list(f)

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']